In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import tree
from sklearn.tree import DecisionTreeClassifier, plot_tree
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import warnings
warnings.simplefilter('ignore')

In [2]:
url = "https://raw.githubusercontent.com/higoramario/univesp-com410-aprendizado-de-maquinas/main/carros-avaliacao.csv"

In [3]:
df_carros = pd.read_csv(url)

In [5]:
df_carros.head()

       preco manutencao portas pessoas bagageiro seguranca aceitabilidade
0  muitoalto  muitoalto      2       2   pequeno     baixa    inaceitavel
1  muitoalto  muitoalto      2       2   pequeno     media    inaceitavel
2  muitoalto  muitoalto      2       2   pequeno      alta    inaceitavel
3  muitoalto  muitoalto      2       2     medio     baixa    inaceitavel
4  muitoalto  muitoalto      2       2     medio     media    inaceitavel

In [6]:
df_carros.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   preco           1728 non-null   object
 1   manutencao      1728 non-null   object
 2   portas          1728 non-null   object
 3   pessoas         1728 non-null   object
 4   bagageiro       1728 non-null   object
 5   seguranca       1728 non-null   object
 6   aceitabilidade  1728 non-null   object
dtypes: object(7)
memory usage: 94.6+ KB